@font-face {
  font-family: ICIELNEUEPLAK-BOLDWIDE;
  src: url("./font/ICIELNEUEPLAK-BLACKWIDE.OTF");
}
@font-face {
  font-family: ICIELNEUEPLAK-WIDE;
  src: url("./font/ICIELNEUEPLAK-WIDE.OTF");
}
@font-face {
  font-family: ICIELSUISSEINTL-REGULAR;
  src: url("./font/ICIELSUISSEINTL-REGULAR.OTF");
}
@font-face {
  font-family: ICIELNEUEPLAK-SEMIBOLDWIDE;
  src: url("./font/ICIELNEUEPLAK-SEMIBOLDWIDE.OTF");
}
@font-face {
  font-family: ICIELSUISSEINTL-REGULAR;
  src: url("./font/ICIELSUISSEINTL-REGULAR.OTF");
}
@font-face {
  font-family: ICIELSUISSEINTL-MEDIUM;
  src: url("./font/ICIELSUISSEINTL-MEDIUM.OTF");
}
@font-face {
  font-family: ICIELSUISSEINTL-BOOK;
  src: url("./font/ICIELSUISSEINTL-BOOK.OTF");
}